<!doctype html>
<html lang="pt">

<head>
	<!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="https://impacto-files.s3.amazonaws.com/static/img/favicon.ico" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<title>Dados sobre cobertura do segundo turno 2018 | Impacto.Jor</title>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand mb-0 h1" href="{{url_for('index')}}">Impacto.jor</a>

      <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      O que você gostaria de ver?
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{url_for('index')}}" role='button'>Notícias aguardando classificação</a>
        <a class="dropdown-item" href="{{url_for('impact_table', offset=0, limit=100, sortby='publish_date', order='desc', media_filter='todos', impact='todos')}}" role='button'>Impacto das notícias</a>
      </div>
      </div>

    </div>
	</nav>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-secondary" role="alert">
  <div class="flashes">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  {% endif %}
  {% endwith %}
  </div>
  </div>

  <div class="container">
   	{% block content %}
    {% endblock %}
	</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>	